<header class="site-header">

    <div class="wrapper">
        <a class="site-title" href="{{ "/" | relative_url }}">
            <img alt="wiringbits icon" class="wiringbits-icon" src="{{"/assets/named_icon.png" | relative_url }}" type="image/png">
        </a>

        <nav class="site-nav">
            <div class="trigger">
                <a class="page-link" href="/#posts">Posts</a>
                <a class="page-link" href="#email-signup">Contact</a>
                <a class="page-link" href="/about">About</a>
            </div>
        </nav>
    </div>

    {% if layout.title == "Home" %}
        {% include logo_pattern.html %}
    {% endif %}
</header>