<nav class="flex items-center justify-between p-8"
    style="box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);">
    <a class="flex gap-4 items-center" href="/">
        <img class="h-8" src="/assets/branding/wiringbits-logo-mark-reverse-rgb.svg" alt="wiringbits icon">
        <span class="text-white text-lg text-bold">
            Wiringbits
        </span>
    </a>
    <div class="flex gap-4 items-center text-lg text-gray-300">
        <a class="!text-inherit decoration-none" href="/about">About</a>
        <a class="!text-inherit decoration-none" href="/#testimonials">Testimonials</a>
        <a class="!text-inherit decoration-none" href="/#posts">Posts</a>
    </div>
</nav>