<div class="flex gap-3 text-white w-full" style="box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);">
    <div class="flex-grow flex justify-center items-center">
        <div class="text-white">
            <div class="text-4xl font-bold">
                <span class="text-amber">
                    <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-world">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                        <path d="M3.6 9h16.8" />
                        <path d="M3.6 15h16.8" />
                        <path d="M11.5 3a17 17 0 0 0 0 18" />
                        <path d="M12.5 3a17 17 0 0 1 0 18" />
                    </svg>
                    Web
                </span> &
                <br />
                <span class="text-blue">
                    <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-stack-2">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 4l-8 4l8 4l8 -4l-8 -4" />
                        <path d="M4 12l8 4l8 -4" />
                        <path d="M4 16l8 4l8 -4" />
                    </svg>
                    Blockchain
                </span>
                <br />
                <span class="text-green">
                    <svg class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-code">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 8l-4 4l4 4" />
                        <path d="M17 8l4 4l-4 4" />
                        <path d="M14 4l-4 16" />
                    </svg>
                    Development
                </span>
                agency
            </div>
            <br />
            <div class="text-xl">
                Our fully remote developer team is ready
                <br /> to solve complex needs and ship sooner
            </div>
        </div>
    </div>
    <img class="flex-right max-w-2/5" src="assets/home/logo-pattern.png" alt="logo pattern" />
</div>