<div class="flex gap-3 bg-black text-white w-full">
    <div class="flex-grow flex justify-center items-center">
        <div class="text-white">
            <div class="text-2xl font-bold">
                <span class="text-amber">
                    Web
                </span>
                and
                <span class="text-blue">
                    Blockchain
                </span>
                <br />
                <span class="text-green">
                    Development
                </span>
                Agency
            </div>
            <br />
            <div class="text-xl">
                Our fully remote developer team is ready 
                <br /> to solve complex problems and ship sooner
            </div>
        </div>
    </div>
    <img class="flex-right max-w-2/5" src="assets/home/logo-pattern.png" alt="logo pattern" />
</div>