<div class="company-logos">
    <a href="https://kueski.com">
        <img alt="kueski logo" src="assets/home/company_logos/kueski.png"/>
    </a>

    <a href="https://stakenet.io">
        <img alt="stakenet logo" src="assets/home/company_logos/stakenet.png"/>
    </a>

    <a href="https://iohk.io">
        <img alt="iohk logo" src="assets/home/company_logos/iohk.png"/>
    </a>

    <a href="https://www.samsung.com/us/ssic/">
        <img alt="samsung logo" src="assets/home/company_logos/samsung.png"/>
    </a>
    <a href="https://www.coppel.com">
        <img alt="coppel logo" src="assets/home/company_logos/coppel.png"/>
    </a>

    <a href="https://www.oracle.com/mx">
        <img alt="oracle logo" src="assets/home/company_logos/oracle.png"/>
    </a>
</div>