<div class="logo-pattern">
    <div class="logo-pattern-wrapper">
        <div class="flex-container">
            <div class="flex-left">
                <h1>Web and Blockchain<br/>Development Agency</h1>
                <h3>
                    Our fully remote developer team can help
                    <br/>you spot problems early and ship sooner
                </h3>
            </div>
            <img alt="logo pattern" class="flex-right" src="assets/home/logo-pattern.png"/>
        </div>
    </div>
</div>
