<div class="logo-pattern">
    <div class="logo-pattern-wrapper">
        <div class="flex-container">
            <div class="flex-left">
                <h1>Web and Blockchain<br/>Development Agency</h1>
                <h3>
                    Out fully remote developer talent can help
                    <br/>to solve problems quickly and ship sooner
                </h3>
                <a class="contact-button" href="#contact">Contact us</a>
            </div>
            <img alt="logo pattern" class="flex-right" src="assets/logo-pattern.png"/>
        </div>
    </div>
</div>
