<link href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.7/dist/css/glide.core.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.7/dist/css/glide.theme.min.css" rel="stylesheet">

<script type="module">
    import Glide, { Autoplay, Controls } from 'https://cdn.jsdelivr.net/npm/@glidejs/glide@3.7/dist/glide.modular.esm.js'
    console.log(Glide, Controls);

    const gApi = setTimeout(() => {
        new Glide('.glide', {
            perView: 3,
            autoplay: 3500,
            animationDuration: 350,
            hoverpause: true,
            peek: 150
        }).mount({ Autoplay, Controls })
        window.dispatchEvent(new Event('resize'))
    }, 1)
</script>

<div class="glide w-full">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {% for testimonial in site.data.testimonials %}
            <li class="glide__slide ">
                <div
                    class="w-full max-w-[350px] flex flex-col w-md rounded-md border border-solid border-[--color-border] overflow-hidden">
                    <div class="bg-[--color-gray-2] p-2 flex items-center gap-2">
                        <img class="aspect-square size-10 rounded-full" {% if testimonial.image %}
                            src="{{ testimonial.image }}" {% else %}
                            src="assets/home/testimonials/reviewer/placeholder.png" {% endif %}
                            alt="photo {{ testimonial.author }} " />
                        <div class="flex flex-col gap-0 text-gray">
                            <span class="text-lg font-semibold">{{ testimonial.author }}</span>
                            <span class="text-md leading-none">{{ testimonial.position }}</span>
                        </div>
                    </div>
                    <div class="p-4 rounded-md text-md">
                        {{ testimonial.description }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">⇐</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">⇒</button>
        </div>
    </div>
</div>