---
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
import WiringbitsLogo from "../assets/branding/wiringbits-logo-inverted-rgb.svg";
---

<header
  class="fixed top-0 right-0 left-0 z-50 border-b border-gray-800 bg-gray-900/80 backdrop-blur-md"
>
  <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between py-4">
      <div class="flex items-center">
        <a href="/" class="flex items-center space-x-3">
          <Image
            src={WiringbitsLogo}
            alt="Wiringbits Logo"
            class="h-12 w-auto"
            width={48}
            height={48}
          />
          <span class="text-xl font-bold text-blue-400"></span>
        </a>
      </div>
      <div class="hidden space-x-8 text-gray-300 md:flex">
        <a href="/" class="transition-colors hover:text-blue-400">Home</a>
        <a href="/blog/" class="transition-colors hover:text-blue-400">Blog</a>
        <!-- TODO
                <a href="/projects" class="hover:text-blue-400 transition-colors">Projects</a>
                -->
        <a href="/testimonials" class="transition-colors hover:text-blue-400"
          >Testimonials</a
        >
        <!-- TODO
                <a href="/about" class="hover:text-blue-400 transition-colors">About</a>
                -->
      </div>
    </div>
  </nav>
</header>
