---
// Temporary redirect until Projects is ready
Astro.redirect("/", 302);
---

<html lang="en">
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="refresh" content="0; url=/" />
    <title>Redirecting…</title>
  </head>
  <body class="bg-gray-900 text-gray-100">
    <p>If you are not redirected automatically, <a href="/">click here</a>.</p>
  </body>
</html>
