---
layout: default
title: Home
permalink: /
---

{% include header-brand.html %}

<div class="h-[1px] bg-[--color-border] w-full"></div>

<main class="flex flex-col justify-center" aria-label="Content">
    <div class="my-10"></div>

    {% include list-logos.html %}

    <div class="my-10"></div>

    {% include slide-testimonials.html %}

    <div class="my-10"></div>

    {% include table-stacks.html %}

    <div class="my-10"></div>

    <div class="flex justify-center">
        <div class="max-w-4xl">
            {% include list-posts.html %}
        </div>
    </div>

    {% include email_signup.html %}
</main>