---
layout: default
title: Home
permalink: /
---

<div class="h-[1px] bg-[--color-border] w-full"></div>

{% include header-brand.html %}

<div class="h-[1px] bg-[--color-border] w-full"></div>

<main class="contents" aria-label="Content">
    <!-- {% include list-logos.html %} -->

    <div class="my-8">
        {% include slide-testimonials.html %}
    </div>

    <div class="flex justify-center">
        <div class="max-w-lg flex flex-col gap-4 items-center">
            {% include list-posts.html %}
        </div>
    </div>

    {% include email_signup.html %}
</main>